body{
    background-color:white
    height: 100%;
    margin: 0;
    text-align: center;
}

a {
    color: Blue;
}
#start-button{
    width: 50vw;
    height: 12.5vh;
    color: rgb(0, 0, 0);
    border: none;
    text-align: center;
    font-size: 32px;
    cursor: pointer;
    background-color:red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.start-button.invisible{
transition:ease-out 1s ;
opacity:0;
}
.links{
    opacity: 0%;
    color:rgb cyan;
}
.links.visible{
    opacity: 100%;
    transition: ease-in 0.5s;
}

h1
{
    color: Black;
    text-align: center;
}

.btn {
    top: 35px;
    right: 5px;
    font-size: 16px;
    color: black;
    background-color: red;
    border: 0;
    height: 40px;
    width: 250px;
    cursor: pointer;
    border-radius: 16px;
    font-weight: bold;
}